@using FamilyTreeBlazor.presentation.Models
@using FamilyTreeBlazor.presentation.Infrastructure
@using FamilyTreeBlazor.presentation.Services.Interfaces
@using FamilyTreeBlazor.presentation.Services.Commands
@using MudBlazor
@using System
@inject IAppStateContext AppStateContext 

<div class="person-card">
    <MudCard>
        <MudCardContent Class="flex-column">
            <MudButton Variant="Variant.Filled" FullWidth="true" style="color: black" Color="Color.Tertiary"
                OnClick="() => CreateInitialPerson()">Add relation</MudButton>
        </MudCardContent>
    </MudCard>
</div>

@code {
    private void CreateInitialPerson()
    {
        // TODO work with the overall context internally too
        AppStateContext.RequestChangeToolState(ToolState.EditTool);
        AppStateContext.CurrentToolState.Fire(new CreateInitialPersonCommand());
    }
}