@using FamilyTreeBlazor.presentation.Models
@rendermode InteractiveServer
@inject IAppStateService AppState

<div class="@(AppState.DraggingOn ? "panel" : "panel-cursor")"> 
    @AppState.CurrentToolState.RenderCard(Person) 
</div>

@code {
    [Parameter]
    public required Person Person { get; set; }

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged; // Subscribe to state changes
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged; // Unsubscribe from state changes
    }
}