@using MudBlazor
@using System

<div class="person-card">
    <MudCard>
        <MudCardContent Class="flex-column">
            <h6>@Name</h6>
            <MudButtonGroup Color="Color.Tertiary" Variant="Variant.Outlined" FullWidth="true">
                <MudTooltip Text="Add Child" Arrow="true" Placement="Placement.Right">
                    <MudIconButton Icon="@Icons.Material.Filled.ChildCare" OnClick="AddChild"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="Add Spouse" Arrow="true" Placement="Placement.Right">
                    <MudIconButton Icon="@Icons.Material.Filled.SupervisedUserCircle" OnClick="AddSpouse"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="Add Parent" Arrow="true" Placement="Placement.Right">
                    <MudIconButton Icon="@Icons.Material.Filled.Elderly" OnClick="AddParent"></MudIconButton>
                </MudTooltip>
            </MudButtonGroup>
        </MudCardContent>
    </MudCard>
</div>

@code {
    [Parameter]
    public CardState State { get; set; } = CardState.Default;
    [Parameter]
    public string Name { get; set; } = "Default";


    private void AddChild()
    {
        // Logic for adding a child
        Console.WriteLine("Add Child clicked for " + Name);
    }

    private void AddSpouse()
    {
        // Logic for adding a spouse
        Console.WriteLine("Add Spouse clicked for " + Name);
    }

    private void AddParent()
    {
        // Logic for adding a parent
        Console.WriteLine("Add Parent clicked for " + Name);
    }
}
