@using FamilyTreeBlazor.presentation.Entities
@using FamilyTreeBlazor.presentation.Infrastructure
@using MudBlazor
@using System
@inject IAppStateService AppState
@inject ITreeService TreeService 

<div class="person-card">
    <MudCard>
        <MudCardContent Class="flex-column">
            <h6>@Person.Name</h6>
            <MudButton Variant="Variant.Filled" FullWidth="true" style="color: black" Color="Color.Tertiary" OnClick="() => CreateRelation()">Add relation</MudButton>
        </MudCardContent>
    </MudCard>
</div>

@code {
    [Parameter]
    public CardState State { get; set; } = CardState.Default;
    [Parameter]
    public required Person Person { get; set; }
    [Parameter]
    public DisabledRelations UnavailableRelations { get; set; }

    private void CreateRelation()
    {
        Relation relType = AppState.GetSpecificState<EditToolState>().RelationState;
        Entities.RelationshipType relationshipType;
        relationshipType = RelationTranslator.ToEntitiesRelationshipType(relType);

        Relationship rel = new(AppState.GetSpecificState<EditToolState>().EditId, Person.Id, relationshipType, true);

        TreeService.AddRelationship(rel);
    }
}
