@using FamilyTreeBlazor.presentation.Components.Elements
@using FamilyTreeBlazor.presentation.Entities
@using FamilyTreeBlazor.BLL.DTOs
@using FamilyTreeBlazor.presentation.Controllers.Interfaces
@inject IAppStateService AppState
@inject IPersonController PersonController

<h3>Ancestor age</h3>

<h5>Person</h5>
<PersonInfo Person=Person />

<br />
<h5>Ancestor</h5>
<PersonInfo Person=Ancestor />

<hr />
<h5>Ancestor's age at the moment of person's birth</h5>
@if (CalculatedAge != null)
{
    <LabelValuePair Label="result" Value=@CalculatedAge.ToString() />
}
else
{
    <LabelValuePair Label="result" Value="unable to calculate age" />
}

@code {
    [Parameter]
    public required Person Person { get; set; }

    [Parameter]
    public required Person Ancestor { get; set; }

    private int? CalculatedAge;

    private void GetAncestorAge()
    {
        // TEMP fix
        CalculatedAge = PersonController.GetAncestorAge(Person.Id, Ancestor.Id);
        if (CalculatedAge != null) CalculatedAge = (int)Math.Abs((decimal)CalculatedAge);
    }

    protected override void OnInitialized()
    {
        AppState.OnChange += OnAppStateChange;
        GetAncestorAge();
    }

    private void OnAppStateChange()
    {
        GetAncestorAge();
        StateHasChanged();
    }

    public void Dispose()
    {
        AppState.OnChange -= OnAppStateChange;
    }
}
