@using FamilyTreeBlazor.presentation.Components.Elements
@using FamilyTreeBlazor.presentation.Entities
@using FamilyTreeBlazor.BLL.DTOs

<h3>Common ancestors</h3>

<h5>Person A</h5>
<PersonInfo Person=PersonA />

<br />
<h5>Person B</h5>
<PersonInfo Person=PersonB />

<hr />
<h5>Common ancestors</h5>
<PersonList Label="result" List=Ancestors />

@code {
    [Parameter]
    public Person? PersonA { get; set; }
    [Parameter]
    public Person? PersonB { get; set; }

    [Parameter]
    // TODO use BLL
    public PersonListDTO Ancestors { get; set; } = new PersonListDTO
    {
        Persons = new List<PersonDTO>
        {
            new("Test Testov", new(1999, 10, 5), true, 1),
            new("Valdemar Testov", new(1999, 10, 5), true, 1),
            new("Test Irin", new(1999, 10, 5), true, 1),
        }
    };
}
