@rendermode InteractiveServer
@using FamilyTreeBlazor.presentation.Services
@inject IAppStateService AppState

<div class="panel">
    @if (AppState.SelectedTool == Tool.View)
    {
        <ViewMode />
    }
    else if (AppState.SelectedTool == Tool.Edit)
    {
        <EditMode />
    }
    else if (AppState.SelectedTool == Tool.AncestorAge)
    {
        <AncestorAge />
    }
    else if (AppState.SelectedTool == Tool.CommonAncestors)
    {
        <CommonAncestors />
    }
</div>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged; // Subscribe to state changes
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged; // Unsubscribe from state changes
    }
}
