@rendermode InteractiveServer
@inject IAppStateService AppState

<div class="panel"> 
    @AppState.CurrentToolState.RenderPanel() 
</div>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged; // Subscribe to state changes
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged; // Unsubscribe from state changes
    }
}
