@inherits LayoutComponentBase

<div class="page">
    <!-- Header -->
    <header class="top-row">
        <h1 class="name">Family tree Manager</h1>
        <a class="link" href="https://github.com/RoundRonin/FamilyTree" target="_blank">GitHub</a>
    </header>

    <!-- Main Content Area -->
    <main class="layout-container">

        <!-- Main Content -->
        <article class="main-content">
            @ChildContent
        </article>

    </main>

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}
