@page "/"
@rendermode InteractiveServer
@using FamilyTreeBlazor.presentation.Components.DynamicPanel

<PageTitle>Home</PageTitle>

<!-- Sidebar -->
<aside class="sidebar">
    <Toolbox />
</aside>

<!-- Main Area -->
<div class="main-area">
    <TreeVeiw />
</div>


<!-- Right Panel -->
<aside class="right-panel">
    <DynamicPanel />
</aside>
