@page "/"
@using FamilyTreeBlazor.presentation.Components

<PageTitle>Home</PageTitle>

<!-- Sidebar -->
<aside class="sidebar">
    <Toolbox />
</aside>

<!-- Main Area -->
<div class="main-area">
    <TreeView />
</div>

<!-- Right Panel -->
<aside class="right-panel">
    <DynamicPanel />
</aside>
